/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/

/* Layout Container */
.lc {
  max-width: $max-width;
  margin: 0 auto;
  padding: $pad-half;
}

/*------------------------------------*\
    $TEMPLATES
\*------------------------------------*/

/* Two Column Layout */

/*------------------------------------*\
    $GRIDS
\*------------------------------------*/

/* Grid Container */

/* Grid Item */

/* Grid 1up */

/* Grid 2up */

/* Grid Half (Always displayed side by side) */

/* Grid 3up */

/* Grid 4up */

/* Grid Quarter (Always displayed side by side) */

/* Grid 5up */

/* Grid 2/3 */

/* Grid 4up block */
