/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/

//Pagination
.pagination {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;

  li {
    margin: 0 $space-half;
  }

  a {
    padding: $pad-half $pad;
    background-color: var(--primary, $brand-primary);
    color: var(--primary-text, $brand-primary-text);
  }
}
