<ul class="sg-colors">
	<li class="primary-lt-bkg">
		<span class="sg-swatch" ></span>
		<div class="sg-label">#ffab8a</div>
		<span class="sg-label">Brand Primary Light</span>
	</li>
	<li class="primary-bkg">
		<span class="sg-swatch" ></span>
		<div class="sg-label">#d23d00</div>
		<span class="sg-label">Brand Primary</span>
	</li>
	<li class="primary-drk-bkg">
		<span class="sg-swatch" ></span>
		<div class="sg-label">#852f0d</div>
		<span class="sg-label">Brand Primary Dark</span>
	</li>
	<li class="secondary-lt-bkg">
		<span class="sg-swatch" ></span>
		<div class="sg-label">#c1e3f8</div>
		<span class="sg-label">Brand Secondary Light</span>
	</li>
	<li class="secondary-lt2-bkg">
		<span class="sg-swatch" ></span>
		<div class="sg-label">#86b5d3</div>
		<span class="sg-label">Brand Secondary Light 2</span>
	</li>
	<li class="secondary-bkg">
		<span class="sg-swatch" ></span>
		<div class="sg-label">#d23d00</div>
		<span class="sg-label">Brand Secondary</span>
	</li>
	<li class="secondary-drk-bkg">
		<span class="sg-swatch" ></span>
		<div class="sg-label">#852f0d</div>
		<span class="sg-label">Brand Secondary Dark</span>
	</li>
	<li class="gray-bkg">
		<span class="sg-swatch" ></span>
		<div class="sg-label">#808080</div>
		<span class="sg-label">Gray</span>
	</li>
	<li class="gray-lt-bkg">
		<span class="sg-swatch" ></span>
		<div class="sg-label">#f9f9f9</div>
		<span class="sg-label">Gray Light</span>
	</li>
	<li class="gray-lt2-bkg">
		<span class="sg-swatch" ></span>
		<div class="sg-label">#eee</div>
		<span class="sg-label">Gray Light 2</span>
	</li>
	<li class="gray-lt3-bkg">
		<span class="sg-swatch" ></span>
		<div class="sg-label">#ddd</div>
		<span class="sg-label">Gray Light 3</span>
	</li>
	<li class="gray-med-bkg">
		<span class="sg-swatch" ></span>
		<div class="sg-label">#a5a5a5</div>
		<span class="sg-label">Gray Med</span>
	</li>
	<li class="gray-drk-bkg">
		<span class="sg-swatch" ></span>
		<div class="sg-label">#707070</div>
		<span class="sg-label">Gray Dark</span>
	</li>
	<li class="gray-drk2-bkg">
		<span class="sg-swatch" ></span>
		<div class="sg-label">#252525</div>
		<span class="sg-label">Gray Dark 2</span>
	</li>

	<li class="success-bkg">
		<span class="sg-swatch" ></span>
		<div class="sg-label">#089e00</div>
		<span class="sg-label">Success</span>
	</li>
	<li class="warning-bkg">
		<span class="sg-swatch" ></span>
		<div class="sg-label">#fff664</div>
		<span class="sg-label">Warning</span>
	</li>
	<li class="error-bkg">
		<span class="sg-swatch" ></span>
		<div class="sg-label">#f00f00</div>
		<span class="sg-label">Error</span>
	</li>

</ul>